
      <div class="aligncenter">
         <div class="page" id="page1">
           <div class="col-lg-12 txtcenteralign standard-margin marbot10">
            <div class="col-lg-6 block1">
               <img src="../assets/img/main-logo.png" id="logo" alt="Main Logo">
            </div>
            <div class="col-lg-6 block1">
               <img src="../assets/img/kavex-logo.png" id="logo-expert" alt="Expert Logo">
            </div>
          </div>
            <div class="col-lg-12 txtcenteralign standard-margin marbot10">
               <span>Beëdigd M.S.O.G. - Waardebepalingen - Plaatsbeschrijvingen <br> Energiedeskundige Private en Publieke gebouwen - Beëdigd Registerexpert KAVEX</span>
            </div>
          <div class="col-lg-12">
            <div class="col-lg-6 block2 bordertop borderbottom textleft pad10">
               <span>
                  Kerkestraat 56 bus 1<br> 3971 LEOPOLDSBURG<br> KBC BE 42 7350 1362 5454<br> BTW - BE -0879 152 669<br> RPR Antwerpen afdeling Hasselt
               </span>
            </div>
            <div class="col-lg-6 block2 bordertop borderbottom">
               <div id="oneoffblock" class="textleft pad10">
                  <span>
                     Filiaal: Langestraat 91<br> 8400 OOSTENDE<br> BIC KREDBEBB<br> BA 730.246.035 AXA<br> E-mail: info@epe-partners.be
                  </span>
               </div>
            </div>
          </div>
          <div id="doslay1">
            <div class="col-lg-6 margin5 blockline">
              <span>Dossier:</span>
               <span id="dos">

               </span>
            </div>
            <div class="col-lg-6 margin5 blockline">
               <div id="oneoffblock">
                  <span>
                     <b>Datum:</b><span id="date"> </span>
                  </span>
               </div>
            </div>
          </div>
            <div class="col-lg-12 margin5">
               <h3 class="txtcenteralign">
               VERSLAG WAARDEBEPALING
               <h3>
            </div>
            <div class="col-lg-12">
              <div id="doslay2">
               <div id="block1edit">
                  <div class="col-lg-12 margin5 borderbottomthin">
                     <h4>
                     OPDRACHTGEVER:
                     <h4>
                  </div>
                  <div class="col-lg-2 standard-margin blockline lineheight">
                     <span>
                        <b>Bedrijf:</b><br>
                        <b>Voornaam:</b><br>
                        <b>Gemeente:</b><br>
                     </span>
                  </div>
                  <div class="col-lg-4 standard-margin blockline lineheight">
                     <span>
                        <span id="Acom"></span><br>
                        <span id="Afn"></span><br>
                        <span id="Acity"></span><br>
                     </span>
                  </div>
                  <div class="col-lg-2 standard-margin blockline lineheight">
                     <span>
                        <b>BTW Nummer:</b><br>
                        <b>Achternaam:</b><br>
                        <b>Straat + Nr:</b><br>
                     </span>
                  </div>
                  <div class="col-lg-4 standard-margin blockline lineheight">
                     <span>
                        <span id="Anumb"></span><br>
                        <span id="Aln"></span><br>
                        <span id="Astrnum"></span><br>
                     </span>
                  </div>
               </div>
             </div>
             <div id="doslay3">
               <div id="block2edit">
                  <div class="col-lg-12 margin5 borderbottomthin">
                     <h4>
                     EIGENAAR:
                     <h4>
                  </div>
                  <div class="col-lg-2 standard-margin blockline lineheight">
                     <span>
                        <b>Bedrijf:</b><br>
                        <b>Voornaam:</b><br>
                        <b>Gemeente:</b><br>
                     </span>
                  </div>
                  <div class="col-lg-4 standard-margin blockline lineheight">
                     <span>
                        <span id="Bcom"></span><br>
                        <span id="Bfn"></span><br>
                        <span id="Bcity"></span><br>
                     </span>
                  </div>
                  <div class="col-lg-2 standard-margin blockline lineheight">
                     <span>
                        <b>BTW Nummer:</b><br>
                        <b>Achternaam:</b><br>
                        <b>Straat + Nr:</b><br>
                     </span>
                  </div>
                  <div class="col-lg-4 standard-margin blockline lineheight">
                     <span>
                        <span id="Bnumb"></span><br>
                        <span id="Bln"></span><br>
                        <span id="Bstrnum"></span><br>
                     </span>
                  </div>
               </div>
             </div>
            </div>
            <div class="col-lg-12">
              <div id="doslay4">
              <div class="loc">

               <div class="col-lg-12 standard-margin borderbottomthin lineheight">
                  <span>Ligging van het goed:</span>
               </div>
               <div class="col-lg-2 standard-margin blockline lineheight">
                  <span>
                     <b>Straat:</b><br>
                     <b>Gemeente:</b><br>
                  </span>
               </div>
               <div class="col-lg-4 standard-margin blockline lineheight">
                  <span>
                     <span id="LstStreet"></span><br>
                     <span id="LstCity"></span><br>
                  </span>
               </div>
               <div class="col-lg-2 standard-margin blockline lineheight">
                  <span>
                     <b>Nummer:</b><br>
                     <b>Postcode:</b><br>
                  </span>
               </div>
               <div class="col-lg-4 standard-margin blockline lineheight padstrip">
                  <span>
                     <span id="LstNumb"></span><br>
                     <span id="LstZip"></span><br>
                  </span>
               </div>
             </div>
           </div>
           <div id="doslay5">
               <div class="kad">

               <div class="col-lg-12 standard-margin borderbottomthin lineheight">
                  <span>Kadastrale gegevens:</span>
               </div>
               <div class="col-lg-2 standard-margin blockline lineheight padrightstrip">
                  <span>
                     <b>Afdeling:</b><br>
                     <b>NIS-Code:</b><br>
                  </span>
               </div>
               <div class="col-lg-2 standard-margin blockline lineheight padstrip">
                  <span>
                     <span id="Dist"></span><br>
                     <span id="Nis"></span><br>
                  </span>
               </div>
               <div class="col-lg-2 standard-margin blockline lineheight padrightstrip">
                  <span>
                     <b>Sectie:</b><br>
                     <b>GKI:</b><br>
                  </span>
               </div>
               <div class="col-lg-2 standard-margin blockline lineheight padstrip">
                  <span>
                     <span id="Sect"></span><br>
                     <span id="dcGki"></span><br>
                  </span>
               </div>
               <div class="col-lg-2 standard-margin blockline lineheight padrightstrip">
                  <span>
                     <b>Perceel Nr:</b><br>
                     <b>NGKI:</b><br>
                  </span>
               </div>
               <div class="col-lg-2 standard-margin blockline lineheight">
                  <span>
                     <span id="SubSect"></span><br>
                     <span id="dcNgki"></span><br>
                  </span>
               </div>
            </div>
          </div>
          </div>
         </div>
         <div class="page" id="page1">
            <div class="col-lg-12">
               <div class="col-lg-12 standard-margin borderbottomthin">
                  <span><b>1. Opdrachtomschrijving</b></span>
               </div>
            </div>
            <div class="col-lg-12">
               <div class="col-lg-12 standard-margin lineheight blockline">
                  <span><b>1.1</b> De OPDRACHTGEVERS, geven de opdracht aan de ondertekenende vastgoedexpert, zijnde GAETHOFS Eddy, Meetkundige Schatter Onroerende Goederen, beëdigd door de Rechtbank van Eerste Aanleg te Hasselt om een waardebepaling te doen van het onroerend.  </span>
               </div>
               <div class="col-lg-12 standard-margin lineheight blockline">
                  <span><b>1.2</b> De VASTGOEDEXPERT-TAXATEUR heeft geen persoonlijke belangen bij de opstelling of de inhoud van het rapport en voert de waardebepaling uit naar best vermogen en volgens de deontologische  code van KAVEX. </span>
               </div>
               <div class="col-lg-12 standard-margin lineheight blockline">
                  <span><b>1.3</b> De DOELSTELLING van de taxatie is het bepalen van de Venale Waarde en  de Gedwongen verkoopwaarde per waardepeildatum.</span>
               </div>
               <div class="col-lg-12 standard-margin lineheight blockline">
                  <span><b>1.4</b> Deze taxatie heeft als WAARDEPEILDATUM </span>
                  <span id="valdate"> </span>
               </div>
               <div class="col-lg-12 standard-margin lineheight blockline">
                  <span><b>1.5</b> Onze voorafgaande SCHRIFTELIJKE TOESTEMMING is vereist voor elke openbaarmaking van dit taxatierapport of delen daarvan of voor een ander gebruik dan vermeld op het einde van oins rapport. Dit geldt ook voor publicatie op internet, het openbaar maken of verzenden aan derden van een  verslag waarin onze naam wordt genoemd, alsmede ten aanzien van het gebruik van onze naam in elk ander document dat openbaar wordt gemaakt of ter beschikking wordt gesteld aan derden. In al deze gevallen dient u ons tijdig een concept van het document te verstrekken voordat het wordt verspreid.</span>
               </div>
            </div>
            <div class="col-lg-12 standard-margin">
              <div id="doslay6">
               <div class="col-lg-12 standard-margin ">
                  <table style="width:100%">
                     <tr class="standard-margin borderbottomthin">
                        <th>2. Privaatrechtelijke positie van het Onroerend Goed</th>
                        <th></th>
                     </tr>
                     <tr class="standard-margin ">
                        <td class="standard-margin" id="ownage">Volle/gedeelde/blote eigendom</td>
                        <td class="standard-margin">Ja</td>
                     </tr>
                     <tr class="standard-margin ">
                        <td>Verkaveling </td>
                        <td id="SplittedLotdc"></td>
                     </tr>
                     <tr class="standard-margin ">
                        <td>Overstromingsgevoelig</td>
                        <td id="Floodingdc"></td>
                     </tr>
                     <tr class="standard-margin ">
                        <td>Effectief overstromingsgebied</td>
                        <td id="RealFloodingdc"></td>
                     </tr>
                     <tr class="standard-margin ">
                        <td>Recht van opstal</td>
                        <td id="BuildContdc"></td>
                     </tr>
                     <tr class="standard-margin ">
                        <td>Erfdienstbaarheid</td>
                        <td id="Inheriteddc"></td>
                     </tr>
                     <tr class="standard-margin ">
                        <td>Zonevreemd</td>
                        <td id="UndefZonedc"></td>
                     </tr>
                     <tr class="standard-margin ">
                        <td>Voorkooprecht</td>
                        <td id="FirstSaledc"></td>
                     </tr>
                  </table>
               </div>
            </div>
          </div>
         </div>
         <div class="page" id="page3">
            <div class="col-lg-12">
               <div class="col-lg-12 standard-margin borderbottomthin">
                  <span><b>3. Algemene Afmetingen</b></span>
               </div>
            </div>
            <div class="col-lg-12">
               <div class="col-lg-12 standard-margin lineheight blockline">
                  <span><b>3.1 Terrein</b> </span><br><br>
                  <div class="col-lg-3">
                     <span>- Oppervlakte Alfa: </span><br>
                     <span>- Diepte Perceel: </span><br>
                     <span>- Configuratie Perceel: </span><br>
                  </div>
                  <div class="col-lg-3">
                     <span id="AreaFrontdc"></span><span> m²</span><br>
                     <span id="DepthAreadc"></span><span> m</span><br>
                     <span id="ConfigRegularitydc"></span><br>
                  </div>
                  <div class="col-lg-3">
                     <span>- Oppervlakte Beta: </span><br>
                     <span>- Breedte Perceel: </span><br>
                     <span>- Locatie Perceel: </span><br>
                  </div>
                  <div class="col-lg-3">
                     <span id="AreaBackdc"></span><span> m²</span><br>
                     <span id="WidthAreadc"></span><span> m</span><br>
                     <span id="Zoningdc"></span><br>
                  </div>
               </div>
            </div>
            <div class="col-lg-12">
               <div class="col-lg-12 standard-margin lineheight blockline">
                  <br><br><span>Alle maten zijn benaderend. </span><br><br>
               </div>
            </div>
            <div class="col-lg-12">
               <div class="col-lg-12 standard-margin borderbottomthin">
                  <span><b>4. Zonering</b></span>
               </div>
               <div class="col-lg-6 standard-margin lineheight blockline">
                  <span>Zonering Grond Alfa: </span><br><br>
                  <span>Zonering Grond Beta: </span><br>
               </div>
               <div class="col-lg-6 standard-margin lineheight blockline">
                 <span id="ZoningFrontdc"></span><br><br>
                 <span id="ZoningBackdc"></span><br><br><br>
               </div>
            </div>
            <div class="col-lg-12">
               <div class="col-lg-12 standard-margin borderbottomthin">
                  <span><b>5. Berekening van de grondwaarde</b></span>
               </div>
               <div class="col-lg-12 standard-margin lineheight blockline">
                  <span>Waardering Grond Alfa: </span>
                  <table style="width:100%">
                     <tr class="standard-margin">
                        <td>Oppervlakte:</td>
                        <td>€/m²</td>
                        <td>Bebouwd:</td>
                        <td>Grondwaarde:</td>
                     </tr>
                     <tr class="standard-margin">
                        <td> <span id="SizeAlfa"></span><span> m²</span></td>
                        <td id="PriceAlfa"></td>
                        <td id="BuildAlfa"></td>
                        <td> <span id="Frontcalc"></span><span> €</span></td>
                     </tr>
                  </table>
               </div>
               <div class="col-lg-12 standard-margin ">
                  <span>Waardering Grond Beta: </span>
                  <table style="width:100%">
                     <tr class="standard-margin">
                        <td>Oppervlakte:</td>
                        <td>€/m²</td>
                        <td>Bebouwd:</td>
                        <td>Grondwaarde:</td>
                     </tr>
                     <tr class="standard-margin">
                        <td> <span id="SizeBeta"></span><span> m²</span></td>
                        <td id="PriceBeta"></td>
                        <td id="BuildBeta"></td>
                        <td> <span id="Backcalc"></span><span> €</span></td>
                     </tr>
                  </table>
               </div>
            </div>
         </div>
         <div class="page" id="page4">
            <div class="col-lg-12">
               <div class="col-lg-12 standard-margin borderbottomthin">
                  <span><b>6. GEOPUNT</b></span>
               </div>
               <div class="col-lg-12 lineheight blockline">
                 <div class="col-lg-6 standard-margin titlemar">
                    <span>Grootschalig Referentiebestand:</span>
                 </div>
                 <div class="col-lg-6 standard-margin titlemar">
                    <span>Gewestplan:</span>
                 </div>
               <div class="col-lg-6 standard-margin lineheight blockline">
                  <img id="GRBImgDoc" class="imagecentersml">
              </div>

              <div class="col-lg-6 standard-margin lineheight blockline">
                 <img id="GewestImgDoc" class="imagecentersml">
             </div>
             <div class="col-lg-6 standard-margin titlemar">
                <span>Recht van Voorkoop:</span>
             </div>
             <div class="col-lg-6 standard-margin titlemar">
                <span>Watertoets:</span>
             </div>
             <div class="col-lg-6 standard-margin lineheight blockline">
               <img id="Back1ImgDoc" class="imagecentersml" style="position: relative; top: 0; left: 0;"><img id="VoorkoopImgDoc" class="imagecentersml" style="position: absolute; top: 65; left: 0; opacity: 0.5; filter: alpha(opacity=50);">

            </div>

            <div class="col-lg-6 standard-margin lineheight blockline">
              <img id="Back2ImgDoc" class="imagecentersml" style="position: relative; top: 0; left: 0;"><img id="Water1ImgDoc" class="imagecentersml" style="position: absolute; top: 65; left: 0; opacity: 0.5; filter: alpha(opacity=50);"><img id="Water2ImgDoc" class="imagecentersml" style="position: absolute; top: 65; left: 0; opacity: 0.5; filter: alpha(opacity=50);">

           </div>
           </div>
            </div>


            <div class="col-lg-12">
               <div class="col-lg-12 standard-margin borderbottomthin">
                  <span><b>7. FOD Grondprijzen</b></span>
               </div>
               <div class="col-lg-12 lineheight standard-margin blockline">




                 <table class="table table-striped" style="width:850px;" ><tbody>
                   <tr>
                     <th style="width:16%">Onbekend</th>
                     <th style="width:14%">0-99m²</th>
                     <th style="width:15%">100-299m²</th>
                     <th style="width:14%">300-599m²</th>
                     <th style="width:14%">600-999m²</th>
                     <th style="width:14%">1000-1499m²</th>
                     <th style="width:14%">>=1500m²</th>
                   </tr>
                   <tr>

                     <td id="fodres0"></td>
                     <td id="fodres1"></td>
                     <td id="fodres2"></td>
                     <td id="fodres3"></td>
                     <td id="fodres4"></td>
                     <td id="fodres5"></td>
                     <td id="fodres6"></td>
             </tr>
                 </tbody>
                 </table>



            </div>
            </div>


            <div class="col-lg-12">
               <div class="col-lg-12 standard-margin borderbottomthin">
                  <span><b>8. KADASTER</b></span>
               </div>
               <div class="col-lg-12 lineheight blockline">
               <div class="col-lg-12 standard-margin lineheight blockline">
                  <img id="CadImgDoc" class="imagecenterlg">
              </div>
            </div>
            </div>
            <div id="doslay7">
            <div class="col-lg-12 lineheight blockline">
               <div class="col-lg-12 standard-margin borderbottomthin">
                  <span><b>9. Berekening Investering</b></span>
               </div>
               <div id="ShowLottedInvest" style="display:none;">
               <div class="col-lg-12 standard-margin ">
               <span>Verkaveling:</span>
               <table style="width:100%">
                  <tr class="standard-margin">
                     <td>Aantal Kavels:</td>
                     <td>Gemiddelde Opp.:</td>
                     <td>€/m²:</td>
                     <td>Waarde/Perceel:</td>
                  </tr>
                  <tr class="standard-margin">
                     <td id="DevelopmentNumberDC"></td>
                     <td> <span id="midlotsize"></span><span> m²</span></td>
                     <td id="DevOwnPriceDC"></td>
                     <td> <span id="GemLottedPrice"></span><span> €</span></td>
                  </tr>
               </table>
               <div class="doslay8">
               <div class="col-lg-12 standard-margin ">
               <br><br><span>Gemiddelde Prijs Per Lot: </span><span id="GemLottedPriced"></span><span> €</span><br><br>
               <span>Totaal Verkoop Prijs: </span><span id="TotLottedPrice"></span><span> €</span><br><br>
              </div>
            </div>
            </div>
            <div class="col-lg-12 standard-margin borderbottomthin">
            </div>
          </div>
            <div id="ShowHomeInvest" style="display:none;">
            <div class="col-lg-12 standard-margin ">
            <span>Woningen Grond Deel:</span>
            <table style="width:100%">
               <tr class="standard-margin">
                  <td>Verdeling:</td>
                  <td>Gemiddelde Opp.:</td>
                  <td>€/m²:</td>
                  <td>Waarde/Perceel:</td>
               </tr>
               <tr class="standard-margin">
                  <td id="DevelopmentNumberDCHome"></td>
                  <td> <span id="midlotsizeHome"></span><span> m²</span></td>
                  <td id="DevOwnPriceDCHome"></td>
                  <td> <span id="GemLottedPriceHome"></span><span> €</span></td>
               </tr>
            </table>
         </div>
            <div class="col-lg-12 standard-margin ">
            <span>Investering ROI:</span>
            <table style="width:100%">
               <tr class="standard-margin">
                  <td>Aantal Units</td>
                  <td>Gemiddelde Opp.:</td>
                  <td>Constructie/Unit:</td>
                  <td>Verkoop/Unit:</td>
               </tr>
               <tr class="standard-margin">
                  <td id="DevUnitnum"></td>
                  <td> <span id="HomeGemOpp"></span><span> m²</span></td>
                  <td> <span id="BuildPriceHome"></span><span> €</span></td>
                  <td> <span id="SalePriceHome"></span><span> €</span></td>
               </tr>
            </table>
            <div class="col-lg-6 standard-margin lineheight blockline">
               <span>ROI:</span>
               <span id="RoiPland"></span>
               <span>%</span>
            </div>
            <div class="col-lg-6 standard-margin lineheight blockline">
              <span>Onkosten:</span>
              <span id="NotaryCostd"></span>
               <span>%</span>
            </div>
            <div class="doslay8">
            <div class="col-lg-12 standard-margin ">
            <br><br><span>Gemiddelde Prijs Per Lot: <span id="GemLottedPriceHomes"></span><span> €</span></span><br><br>
            <span>Totaal Verkoop Prijs Grond: <span id="TotLotPriceHomes"></span><span> €</span></span><br><br>
            <span>Maximum Prijs Investering Aankoop: <span id="InvestRoiFiniHome"></span><span> €</span></span><br><br>
          </div>
        </div>
        </div>

         <div class="col-lg-12 standard-margin borderbottomthin">
         </div>
         </div>
         <div id="ShowAppInvest" style="display:;">
         <div class="col-lg-12 standard-margin ">
         <span>Appartemen Grond Deel:</span>
         <table style="width:100%">
            <tr class="standard-margin">
               <td>Verdeling:</td>
               <td>Gemiddelde Opp.:</td>
               <td>€/m²:</td>
               <td>Waarde/Perceel:</td>
            </tr>
            <tr class="standard-margin">
               <td id="DevelopmentUnitsDC"></td>
               <td> <span id="GemTotGrondUnit"></span><span> m²</span></td>
               <td id="DevOwnPriceDCApp"></td>
               <td> <span id="DevTotaalPriceSplit"></span><span> €</span></td>
            </tr>
         </table>
      </div>
      <div class="col-lg-12 standard-margin ">
      <span>Investering ROI:</span>
      <table style="width:100%">
         <tr class="standard-margin">
            <td>Aantal Units</td>
            <td>Gemiddelde Opp.:</td>
            <td>Constructie/Unit:</td>
            <td>Verkoop/Unit:</td>
         </tr>
         <tr class="standard-margin">
            <td id="DevUnitnumApped"></td>
            <td> <span id="DevGemOppApp"></span><span> m²</span></td>
            <td> <span id="BuildPriceAppeld"></span><span> €</span></td>
            <td> <span id="SalePriceAppeld"></span><span> €</span></td>
         </tr>
      </table>
      <div class="col-lg-6 standard-margin lineheight blockline">
         <span>ROI:</span>
         <span id="RoiPlandApp"></span>
         <span>%</span>
      </div>
      <div class="col-lg-6 standard-margin lineheight blockline">
        <span>Onkosten:</span>
        <span id="NotaryCostdApp"></span>
         <span>%</span>
      </div>
      <div class="doslay8">
      <div class="col-lg-12 standard-margin ">
        <br><br><span>Gemiddelde Prijs Per Lot :<span id="DevTotaalPriceSplitApp"></span><span> €</span></span><br><br>
        <span>Totaal Verkoop Prijs Grond:<span id="TotalAppGrondPriced"></span><span> €</span></span><br><br>
        <span>Maximum Prijs Investering Aankoop:<span id="InvestRoiApp"></span><span> €</span></span><br><br>
    </div>
  </div>
   </div>
          </div>
        </div>
      </div>
         </div>
         <div class="page" id="page5">
            <div class="col-lg-12">
               <div class="col-lg-12 standard-margin">
                  <span><b>Besluit</b></span>
               </div>
               <div class="col-lg-6 standard-margin lineheight blockline">
                  <span>
                     - Gelet op de ligging van het Onroerend Goed;<br>
                     - Gelet op de staat van onderhoud;<br>
                  </span>
               </div>
               <div class="col-lg-6 standard-margin lineheight blockline">
                  <span>
                     - Gelet op onze berekeningen;<br>
                     - Gelet op ons plaatsbezoek dd.<br>
                  </span>
               </div>
               <span class="mar20 lineheight blockline">
                  Ramen wij volgende waarden:
               </span>
            </div>
            <div class="col-lg-12 mar20">
               <div class="col-lg-6 standard-margin lineheight blockline borderbottomthin">
                  <span><b>Venale Waarde:</b></span>
               </div>
               <div class="col-lg-6 standard-margin lineheight blockline borderbottomthin textright">
                 <span id="ToStandcalc"><b> </b></span>
                  <span><b> €</b></span>
               </div>
            </div>
            <div class="col-lg-12 mar20">
               <div class="col-lg-6 standard-margin borderbottomthin">
                  <span><b>Gedwongen Verkoopwaarde:</b></span>
               </div>
               <div class="col-lg-6 standard-margin borderbottomthin textright">
                 <span id="ForcedPrice"></span>
                  <span><b> €</b></span>
               </div>
            </div>
            <div class="col-lg-12 mar20">
               <div class="col-lg-12 standard-margin">
                  <span><b>GEBRUIK VAN HET SCHATTINGSVERSLAG EN VERANTWOORDELIJKHEID EXPERT</b></span>
               </div>
               <div class="col-lg-12 standard-margin lineheight blockline">
                  <span>1) De expert heeft het Onroerend Goed bezocht  en het rapport  opgesteld  naar best vermogen.</span><br>
                  <span>2) De expert - Taxateur heeft geen persoonlijke belangen bij het opstellen van dit rapport.</span><br>
                  <span>3) De expert - Taxateur heeft de inlichtingen die door de eigenaars aangebracht zijn voor waar aangenomen en geen onderzoek gedaan naar eventuele verborgen gebreken en stedenbouwkundige inbreuken.</span><br>
                  <span>4) Deze waardebepaling houdt géén rekening met enige vorm van bodemverontreiniging.</span><br>
               </div>
            </div>
            <div class="col-lg-12">
               <div class="col-lg-12 standard-margin lineheight blockline">
                  <span><b>Ik bevestig dat ik mijn opdracht in eer en geweten, nauwgezet en eerlijk vervuld heb.</b></span>
               </div>
               <div class="col-lg-12 standard-margin lineheight blockline">
                  <span>Eddy Gaethofs</span>
               </div>
            </div>
         </div>
      </div>
